<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Twitter | Sign In</title>


	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-theme.min.css" %}'>
	
	<script src='{% static "js/jquery-3.2.1.js" %}' integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <style type="text/css">

      
      .li1{
        display: inline-block;
        margin-right: 15px;
      }

      li p {
        margin: 0 0 0px;
        display: block;
      }
    </style>
	        
	</head>
    <body>
        <div class="container">
        <nav class="navbar navbar-default">
          
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="search-query form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class=" glyphicon glyphicon-search"></span></button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          
        </nav>

        <div class="row">
            <div class="col-md-3">
                <div style="padding-left:5px; padding-top:5px; background-color: #e6ffff">

                     <a href="#" style="float:left" class="profileimage"><img src="https://www.drupal.org/files/profile_default.jpg" height="100" width="100"></a>

                     <ul style="list-style-type: none; margin-left:110px; padding-left:0px; ">
                        <li><a href="#"><strong>{{ user.full_name }}</strong></a></li>
                        <li><a href="#" id="userNmaeId">{{ user.username }}</a></li>
                     </ul>
                     <p style="clear:left"></p>

                    <ul style="margin-top: 10px; padding: 0px;">
        
                        <li class="li1"><p>Tweets</p>{{ tweet_count }}</li>
                        <li class="li1"><p>Following</p>{{ following_count }}</li>
                        <li class="li1"><p>Followers</p>{{ follower_count }}</li>
                    
                    </ul>
                </div>


            </div>
            <div class="col-md-6">
                <form class="form-horizontal" id='tweet-form-id'>
                    {% csrf_token %}
                  <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="3" id="tweetId" maxlength="140" placeholder="Post your tweet here"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <button id="tweetSubmitId" type="submit" class="btn btn-primary" disabled>Tweet</button>
                      <span id="textLimitId">140</span>
                    </div>
                  </div>
                </form>

                <h4><center>Your Feed</center></h4>

                <ul class="list-group" id="tweetListId">
                     <!-- <li class="list-group-item">
                        
                        <p>Follower Name</p>
                        <div><a href="#"><strong style="font-size: 20px;">Follower Name</strong></a></div>
                        <a href="#"><span>@TwitterHandle</span></a>
                        <p style="font-size: 15px; margin-top: 10px;">This is an tweet posted by someone whom the current sdfsdfdsfsdfsd fsdf sdf sdf sdf dsfollows blah blah</p>
                        <ul style="padding-left:0px; margin-top:10px">
                            <li class="li1">
                            <a href="#" id='test_comment-id'><span class="glyphicon glyphicon-comment"></span></a>
                            <a href="#"><span style="font-size: 10px;">120</span></a>
                            </li>
                            <li class="li1"><a href="#"><span class="glyphicon glyphicon-retweet"></span></a>
                            <a href="#"><span style="font-size: 10px;">120</span><span></span></a></li>
                            <li class="li1"><a href="#"><span class="glyphicon glyphicon-heart-empty"></span></a>
                            <a href="#"><span style="font-size: 10px;">120</span></a></li>
                        </ul>
                        
                        <ul class='list-group' id='comment-list-id' style='display:none;'>
                            <h4>Comments</h4>
                            <li class='list-group-item' style='border:0px;'>
                                <div><a herf='#'>username</a></div>
                                <div style='margin-left: 15px;'><p style='font-size:12px;'>this a comment done by some user in the users list comment comment commentcommentcomment comment commentcommentcomment comment</p></div>
                            </li>
                            <li class='list-group-item' style='border:0px;'>
                                <div><a herf='#'>username</a></div>
                                <div style='margin-left: 15px;'><p style='font-size:12px;'>this a comment done by some user in the users list comment comment commentcommentcomment comment commentcommentcomment comment</p></div>
                            </li>
                            <li class='list-group-item' style='border:0px;'>
                                <div>
                                        <form class="form-horizontal" style='margin-left: 15px; smargin-top:20px;'>
                                            {% csrf_token %}
                                          <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="1"  maxlength="140" placeholder="Comment here"></textarea>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-10">
                                              <button type="submit" class="btn btn-primary btn-sm" disabled>Comment</button>
                                              <span>140</span>
                                            </div>
                                          </div>
                                        </form>
                                </div>
                            </li>
                            
                        </ul>
                        

                    
                    </li> -->

                    
                </ul>



            </div>
            <div class="col-md-3"></div>
        </div>
    </div><!-- /.container-fluid -->   

    <script>


   // function commentSubmit(a){
   //          console.log(a);
   //          var id = $(a).attr("id");
   //          var value = $("#"+id+" input[name=name=csrfmiddlewaretoken]").val();
   //          console.log(value);
   //      }


    $(document).ready(function(){


        get_retweeted_user = function(data){
            if(data.retweeted_by){
                return data.retweeted_by + " retweeted";
            }
            return "";
        };

        addComments = function(data, tweet_id){
            comments="<ul class='list-group' id='comment-list-id-"+tweet_id+"'><h4>Comments</h4>";
            for(var i=0;i<data.length;i++){
                comments+="<li class='list-group-item' style='border:0px;'><div><a herf='#'>"+data[i].user.username+"</a></div><div style='margin-left: 15px;'><p style='font-size:12px;'>"+data[i].comment+"</p></div></li>"
            }

            
            return comments+"</ul>";

        };

        addNewTweet = function(data){
            var uiElement = $("#tweetListId");
            for(j=0; j<data.length; j++){
                var i = data[j];
                var comment = addComments(i.comments, i.id);

                comment += "<div><form id='comment-form-id-"+i.id+"' class='form-horizontal' style='margin-left:15px;'>{% csrf_token %}<div class='form-group'><div class='col-sm-12'><textarea class='form-control' rows='1'  maxlength='140' placeholder='Comment here' name='comment-name'></textarea></div></div><div class='form-group'><div class='col-sm-10'><button type='submit' class='btn btn-primary btn-sm'>Comment</button><span>140</span></div></div></form></div>";

                uiElement.append("<li class='list-group-item' style='margin-top:16px;background-color: #e6ffff; border:0px;'><p style='font-size: 11px; text-align:center;'>"+get_retweeted_user(i)+"</p><div><a href='#'><strong style='font-size: 20px;'>"+i.user.first_name+" "+i.user.last_name+"</strong></a></div><a href='#'><span>@"+i.user.username+"</span></a><p style='font-size: 15px; margin-top: 10px;''>"+ i.post +"</p><ul style='padding-left:0px; margin-top:10px'><li class='li1'><a href='#'><span class='glyphicon glyphicon-comment'></span></a><a href='#'><span style='font-size: 10px;'>"+i.comments.length+"</span></a></li><li class='li1'><a href='#' class='retweet-link' id='retweetlink-id-"+i.id+"'><span class='glyphicon glyphicon-retweet'></span></a><a href='#'><span id='retweetlink-list-"+i.id+"' style='font-size: 10px;'>  "+i.retweet_count+"</span><span></span></a></li><li class='li1'><a href='#' class='favorite-link' id='favlink-id-"+i.id+"'><span class='glyphicon glyphicon-heart-empty'></span></a><a href='#'><span  id='favorite-list-"+i.id+"' style='font-size: 10px;'>"+i.favorite_count+"</span></a></li></ul>"+comment+"</li>");
            };
        };

        (function () {
            var tweets = [];
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/tweets/",
                success: function(data) {
                    // console.log(data);
                    tweets.push.apply(tweets, data);
                    console.log("inside first");
                    addNewTweet(tweets);
                }
            });
        })();


        $("#test_comment-id").click(function(e){
            $("#comment-list-id").toggle();
            e.preventDefault();
        });

        $("#tweetListId").on('click', 'a.favorite-link', function(e){
            tweet_id = $(this).attr("id").split("-")[2];
            console.log(tweet_id);
            $.ajax({
                type: "GET",
                url: "/markfavorite/"+tweet_id+"/",
                success: function(data) {
                    console.log(data);
                    data = JSON.parse(data)
                    $('#favorite-list-'+tweet_id).text(data.count.toString());
                }
            });
            e.preventDefault();
        });

        $("#tweetListId").on('click', 'a.retweet-link', function(e){
            tweet_id = $(this).attr("id").split("-")[2];
            console.log(tweet_id);
            $.ajax({
                type: "GET",
                url: "/makeretweet/"+tweet_id+"/",
                success: function(data) {
                    console.log(data);
                    data = JSON.parse(data)
                    $('#retweetlink-list-'+tweet_id).text(data.count.toString());
                }
            });
            e.preventDefault();
        });

        $("#tweetId").keyup(function(){
            var button = $("#tweetSubmitId");
            var text = $("#tweetId");
            var limit = $("#textLimitId");
            limit.text(140-text.val().length);
            if(text.val() != ''){
                button.attr("disabled", false);
            }
            else{
                button.attr("disabled", true);
            }
        });


        $('#tweetListId').on('submit', 'form', function(e) {

            console.log("submitted");
            console.log($("input[name=csrfmiddlewaretoken]").val());
            console.log($(this).attr("id").split('-')[3]);
            var a = $("input[name=comment_name]"); 
            var tweet_id = $(this).attr("id").split('-')[3];
            var post_data = {
                comment: $("#"+$(this).attr("id")+" textarea").val(),
                csrfmiddlewaretoken : $("input[name=csrfmiddlewaretoken]").val()

            };
            console.log(post_data);
             $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/comments/?tweet="+tweet_id,
                data: post_data,
                success: function(data) {
                    console.log(data);
                    $("#"+$(this).attr("id")+" textarea").val("");
                    $("#comment-list-id-"+tweet_id).append("<li class='list-group-item' style='border:0px;'><div><a herf='#'>"+data.user.username+"</a></div><div style='margin-left: 15px;'><p style='font-size:12px;'>"+data.comment+"</p></div></li>");
                    // data = JSON.parse(data)
                    // $('#retweetlink-list-'+tweet_id).text(data.count.toString());
                }
            });
            e.preventDefault();

        });

        // commentSubmit = function(a){
        //     console.log(a);
        // };


        $("#tweet-form-id").submit(function(e){
            var val = $("#tweetId").val();
            console.log(val);
            var post_data = {
                post : val,
                csrfmiddlewaretoken : $("#tweet-form-id input[name=csrfmiddlewaretoken]").val()   
            };
            console.log(post_data);
            $.ajax({
                type: "POST",
                data: post_data,
                url: "http://127.0.0.1:8000/tweets/",
                success: function(data) {
                    console.log(data);
                    $("#tweetId").val("");
                    $("#tweetSubmitId").attr("disabled", true);
                    $("#textLimitId").text("140");
                    var comment = addComments(data);

                    comment += "<li class='list-group-item' style='border:0px;'><div><form id='comment-form-id-"+data.id+"' class='form-horizontal comment-form-class' style='margin-left:15px;'>{% csrf_token %}<div class='form-group'><div class='col-sm-12'><textarea class='form-control' rows='1'  maxlength='140' placeholder='Comment here'></textarea></div></div><div class='form-group'><div class='col-sm-10'><button type='submit' class='btn btn-primary btn-sm'>Comment</button><span>140</span></div></div></form></div></li></ul>";

                    $("#tweetListId").prepend("<li class='list-group-item' style='margin-top:16px;background-color: #e6ffff;border:0px;'><p style='font-size: 11px; text-align:center;'>"+get_retweeted_user(data)+"</p><div><a href='#'><strong style='font-size: 20px;'>"+data.user.first_name+" "+data.user.last_name+"</strong></a></div><a href='#'><span>@"+data.user.username+"</span></a><p style='font-size: 15px; margin-top: 10px;''>"+ data.post +"</p><ul style='padding-left:0px; margin-top:10px'><li class='li1'><a href='#'><span class='glyphicon glyphicon-comment'></span></a><a href='#'><span style='font-size: 10px;'>"+data.comments.length+"</span></a></li><li class='li1'><a href='#' class='retweet-link' id='retweetlink-id-"+data.id+"'><span class='glyphicon glyphicon-retweet'></span></a><a href='#'><span id='retweetlink-list-"+data.id+"' style='font-size: 10px;'>  "+data.retweet_count+"</span><span></span></a></li><li class='li1'><a href='#' class='favorite-link' id='favlink-id-"+data.id+"'><span class='glyphicon glyphicon-heart-empty'></span></a><a href='#'><span  id='favorite-list-"+data.id+"' style='font-size: 10px;'>"+data.favorite_count+"</span></a></li></ul>"+comment+"</li>");
                }
            });
            e.preventDefault();
        });

    });

    </script> 
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    </body>


</html>