<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Twitter | Sign In</title>


	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-theme.min.css" %}'>
	
	<script src='{% static "js/jquery-3.2.1.js" %}' integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	        
	</head>
	<body>
			
			<div class="container"> 

            <div id="messageId">
            </div>
             
        <div id="loginform" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
                        {% if err_msg %}
                        <div id="login-alert" class="alert alert-danger col-sm-12">{{ err_msg }}</div>
                        {% endif %}

                        <form id="loginformId" class="form-horizontal" role="form" method="post" action="{% url 'login' %}" >
                            {% csrf_token %}
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="passwd" placeholder="password">
                                    </div>

                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <input class="btn btn-success" type="submit" value="Sign In">
                                      <a id="btn-googlelogin" href="#" class="btn btn-danger">Login with Google</a>
									  <a id="btn-twitterlogin" href="#" class="btn btn-info">Login with Twitter</a>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="#" onClick="$('#loginform').hide(); $('#signupform').show()">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        <div id="signupform" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
						</div>  
                        <div class="panel-body" >
                            <form id="signupformId" class="form-horizontal" role="form">
                                {% csrf_token %}
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input id="emailId" type="text" class="form-control" name="email" placeholder="Email Address">
										
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input id="firstNameId" type="text" class="form-control" name="firstname" placeholder="First Name" >
										
                                    </div>
									
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input id="lastNameId" type="text" class="form-control" name="lastname" placeholder="Last Name">
										
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label for="username" class="col-md-3 control-label">Username</label>
                                    <div class="col-md-9">
                                        <input id="userNameId" type="text" class="form-control" name="username" placeholder="username">
										
                                    </div>
                                </div>
								
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input id="passwordId1" type="password" class="form-control" name="passwd1" placeholder="Password">
										
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Confirm Password</label>
                                    <div class="col-md-9">
                                        <input id="passwordId2" type="password" class="form-control" name="passwd2" placeholder="Reenter password">
										
                                    </div>
                                </div>
                                
								<div style="margin-top:10px; margin-left:30px; " class="form-group">
									<div class="col-sm-12 controls">
										<input class="btn btn-success" type="submit" value="Sign Up">
									</div>
									
								</div>
								
								<div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Already have an account! 
                                        <a href="#" onClick="$('#signupform').hide(); $('#loginform').show();">
                                            Sign In Here
                                        </a>
                                        </div>
                                    </div>
                                </div> 
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    </div>
	<script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/jquery.validate.js" %}'></script>
    <script src='{% static "js/additional-methods.js" %}'></script>
    <script src='{% static "js/validation.js" %}'></script>
  
  </body>
  
  
  </html>